@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.scrollDown1  div{
  display: none;
  writing-mode: vertical-lr;
  transition: all 1s ease-in-out;
  padding: 10px 5px;
  background-color: white;
  border-radius: 15px;
  animation: shake 1s linear infinite alternate;
  box-shadow: inset 1.00px 1.73px 2.73px -0.34px rgba(28, 28, 255, 0.15),
  inset -1.50px -2.60px 2.73px -0.34px rgba(28, 28, 255, 0.3),
  3.00px 5.20px 2.05px -1.02px rgba(28, 28, 255, 0.6);
  
}
.scrollDown1{
  display: none;
  align-items: center;
  position: fixed;
  gap: 8px;
  top: 50%;
}
.scrollUp{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  gap: 8px;
  padding: 10px 5px;
  right: 0;
  top: 50%;
  writing-mode: vertical-lr;
  transition: all 1s ease-in-out;
  border-radius: 15PX;
  animation: shake 1s linear infinite alternate-reverse;
  box-shadow: inset 1.00px 1.73px 2.73px -0.34px rgba(28, 28, 255, 0.15),
  inset -1.50px -2.60px 2.73px -0.34px rgba(28, 28, 255, 0.3),
  3.00px 5.20px 2.05px -1.02px rgba(28, 28, 255, 0.6);
  
}
h3 {
  color: white;
  align-items: center;
  padding-left: 40%;
}
nav {
  background-image: linear-gradient(to right top, #2b86c5, #5c81d9, #9774dd, #d05ece, #ff3cac);
  padding: 6px 10px;
  border-radius: 30px;
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.8),
    inset 0 2px 2px rgba(255, 255, 255, 1), 0 5px 0 #ccc, 0 6px 0 #989898,
    0 13px 0 rgba(0,0,0,0.1);
}
.navbar{
  position: sticky;
  z-index: 99;
  top: 0;
}
section {
  border-radius: 10px;
  margin: 0px 0px 40px 0px;
  padding: 70px 0px 40px 0px;
  display: flex;
  justify-content: space-around;
}
video{
  top: 0;
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(90%) contrast(110%);
}
.kotak_1 {
  position: relative;
  overflow: hidden;
  background: linear-gradient(145deg, #2B86C5, #FF3CAC);
  margin-bottom: 20px;
  height: 450px;
  padding: 6px 0px;
  border-radius: 20px;
  box-shadow: 10px 10px 8px 0px rgba(0,0,0,0.2);
}
.resonator {
  position: relative;
  overflow: hidden;
  background: linear-gradient(145deg, #2B86C5, #FF3CAC);
  height: 520px;
  padding: 6px 0px;
  border-radius: 20px;
  box-shadow: 10px 10px 8px 0px rgba(0,0,0,0.2);
}
.length {
  position: relative;
  overflow: hidden;
  background: linear-gradient(145deg, #2B86C5, #FF3CAC);
  height: 590px;
  padding: 6px 0px;
  border-radius: 20px;
  box-shadow: 10px 10px 8px 0px rgba(0,0,0,0.2);
}
.box {
  position: relative;
  overflow: hidden;
  background: linear-gradient(145deg, #2B86C5, #FF3CAC);
  padding: 6px 0px 40px 0px;
  border-radius: 20px;
  box-shadow: 10px 10px 8px 0px rgba(0,0,0,0.2);
}
input {
  display: flex;
  justify-content: space-between;
  height: 25px;
  margin: 0px 30px 20px;
  padding: 5px 15px;
  border-radius: 8px;
}

h4 {
  color: white;
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
h5 {
  color: white;
  position: relative;
  margin-left: 30px;
  padding-top: 10px;
}
h6 {
  padding-top: 10px;
  padding-left: 500px;
}
label {
  color: white;
  position: relative;
  margin-left: 30px;
}
.ukuran {
  position: absolute;
  left: 70%;
}
.PlaceHolder {
  position: relative;
}
select{
  padding-top: 4px;
  background-color: transparent;
}
.peringatan{
  color: rgb(255, 255, 255);
  font-weight: 300;
  left: 55%;
  top: -90%;
  position: absolute;
}
.btn2{
  position: relative;
  color: white;
  height: 35px;
  width: 100px;
  background-color: #0c67f0;
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 33%;
}
.muncul{
  display: none;
}
.btn1{
  color: white;
  height: 35px;
  width: 100px;
  background-color: #0c67f0;
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 33%;
}
.btn1:hover {
  border: 2px solid #0c67f0;
  color: #2471e6;
  background-color: white;
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

@keyframes shake{
  0%{transform: translateY(0px);}
  50%{transform: translateY(10px);}
  100%{transform: translateY(5px);}
}

@media screen and (max-width: 1700px) {
  section{
    display: flex;
    flex-wrap: wrap;
  }
  .kotak_1 {
    margin: 0px auto 70px auto;
  }
  .resonator {
    margin: 0px auto 70px auto;
  }
  .length {
    margin: 0px auto 70px auto;
  }
  .box {
    margin: 0px auto 0px auto;
  }

}
@media screen and (max-width: 1100px) {
  h3 {
    display: none;
  }
  .hilang{
    display: none;
  }
  .muncul{
    display: unset;
  }
  .scrollDown1  div{
    display: flex;
  flex-direction: row;
  }
  .scrollDown1{
    display: flex;
  }
}