@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h3 {
  color: white;
  align-items: center;
  padding-left: 40%;
}
nav {
  background-image: linear-gradient(to right top, #3afbc0, #00ebe2, #00d7fc, #00c0ff, #00a5ff, #00a5ff, #00a4ff, #00a4ff, #00beff, #00d3ed, #00e2bd, #3cec81);
  padding: 6px 10px;
  border: 1px solid rgb(134, 173, 197);
  border-radius: 10px;
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.8),
    inset 0 2px 2px rgba(255, 255, 255, 1), 0 5px 0 #ccc, 0 6px 0 #989898,
    0 13px 0 #dfdede;
}
.container2 {
  margin: -25px 0px 40px 0px;
  padding: 65px 0px 40px 0px;
  display: flex;
  justify-content: space-around;
  /* border: 2px solid rgb(75, 139, 211); */
  border-radius: 25px;
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.8),
    inset 0 2px 2px rgba(255, 255, 255, 1), 0 5px 0 #ccc, 0 6px 0 #989898,
    0 13px 0 #dfdede;
}
.kotak_1 {
  position: relative;
  border-radius: 10px;
  background-image: linear-gradient(to right top, #3afbc0, #00ebe2, #00d7fc, #00c0ff, #00a5ff, #00a5ff, #00a4ff, #00a4ff, #00beff, #00d3ed, #00e2bd, #3cec81);
  margin-bottom: 20px;
  height: 450px;
  padding: 6px 10px;
  border: 1px solid #b5b5b5;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.8),
    inset 0 2px 2px rgba(255, 255, 255, 1), 0 5px 0 #ccc, 0 6px 0 #989898,
    0 15px 0 #dfdede;
}
.resonator {
  border-radius: 10px;
  background-image: linear-gradient(to right top, #3afbc0, #00ebe2, #00d7fc, #00c0ff, #00a5ff, #00a5ff, #00a4ff, #00a4ff, #00beff, #00d3ed, #00e2bd, #3cec81);
  height: 520px;
  padding: 6px 10px;
  border: 1px solid #b5b5b5;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.8),
    inset 0 2px 2px rgba(255, 255, 255, 1), 0 5px 0 #ccc, 0 6px 0 #989898,
    0 13px 0 #dfdede;
}
.length {
  border-radius: 10px;
  background-image: linear-gradient(to right top, #3afbc0, #00ebe2, #00d7fc, #00c0ff, #00a5ff, #00a5ff, #00a4ff, #00a4ff, #00beff, #00d3ed, #00e2bd, #3cec81);
  height: 590px;
  padding: 6px 10px;
  border: 1px solid #b5b5b5;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.8),
    inset 0 2px 2px rgba(255, 255, 255, 1), 0 5px 0 #ccc, 0 6px 0 #989898,
    0 13px 0 #dfdede;
}
.box {
  border-radius: 10px;
  background-image: linear-gradient(to right top, #3afbc0, #00ebe2, #00d7fc, #00c0ff, #00a5ff, #00a5ff, #00a4ff, #00a4ff, #00beff, #00d3ed, #00e2bd, #3cec81);
  padding: 16px 10px;
  border: 1px solid #b5b5b5;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.8),
    inset 0 2px 2px rgba(255, 255, 255, 1), 0 5px 0 #ccc, 0 6px 0 #989898,
    0 13px 0 #dfdede;
}
input {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px 20px;
  padding-left: 20px;
  border: 1px solid white;
  border-radius: 8px;
}

h4 {
  text-transform: capitalize;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
h5 {
  margin-left: 10px;
  padding-top: 10px;
}
h6 {
  padding-top: 10px;
  padding-left: 500px;
}
label {
  margin-left: 10px;
}
.ukuran {
  position: absolute;
  left: 70%;
}
.PlaceHolder {
  position: relative;
}
select{
  padding-top: 4px;
  background-color: transparent;
}
.peringatan{
  color: red;
  font-weight: 300;
  left: 45%;
  top: -90%;
  position: absolute;
}
.btn2{
  color: white;
  height: 35px;
  width: 100px;
  background-color: #1869ff;
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 33%;
}
.muncul{
  display: none;
}
.btn1{
  color: white;
  height: 35px;
  width: 100px;
  background-color: #1869ff;
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 33%;
}
.btn1:hover {
  border: 3px solid #2563eb;
  color: #2563eb;
  background-color: white;
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}
@media screen and (max-width: 1700px) {
  .container2 {
    display: flex;
    flex-wrap: wrap;
  }
  .kotak_1 {
    margin: 0px auto 50px auto;
  }
  .resonator {
    margin: 0px auto 50px auto;
  }
  .length {
    margin: 0px auto 50px auto;
  }
  .box {
    margin: 0px auto 0px auto;
  }
  
}
@media screen and (max-width: 1100px) {
  h3 {
    display: none;
  }
  .hilang{
    display: none;
  }
  .muncul{
    display: unset;
  }
}